# pycache and venv folders
__pycache__/
.venv/

# ignore the dotenv
.env

# ignore log files
*.jsonl

# ignore iPython checkpoints
.ipynb_checkpoints/

postings.db
resumes.db
index.faiss
resume_data/Resume.csv
linkedin_data/postings.csv
linkedin_data/postings.csv
sample.txt
llm_pairwise_cache.json
