# pycache and venv folders
__pycache__/
.venv/

# ignore the dotenv
.env

# ignore log files
*.jsonl

# ignore iPython checkpoints
.ipynb_checkpoints/

# Ignore BERT and pytorch models
roberta-tuned/
roberta-tuned-v1/

# Keenan's scratch folder
temp/

postings.db
resumes.db
index.faiss
resume_data/Resume.csv
linkedin_data/postings.csv
linkedin_data/postings.csv
linkedin_data/full_postings.csv

sample.txt
llm_pairwise_cache.json
*.json
*.txt
